{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('_assets/css/index.css')}}">
{% endblock %}

{{ form_start(form) }}
<table class="table table-bordered">
    <tbody>
        <tr>
            {# TITRE #}
            <th>{{ form_label(form.title) }}</th>
            <td>{{ form_widget(form.title) }}</td>
        </tr>
        <tr>
            {# CONTENU #}
            <th>{{ form_label(form.content) }}</th>
            <td>{{ form_widget(form.content) }}</td>
        </tr>
        <tr>
            {# IMAGE #}
            <th>{{ form_label(form.imageUrl) }}</th>
            <td>{{ form_widget(form.imageUrl) }}</td>
        </tr>
        <tr>
            {# DATE DE CREATION #}
            <th>{{ form_label(form.createdAt) }}</th>
            <td>{{ form_widget(form.createdAt, {'attr': {'data-date-format': 'DD/MM/YYYY'}}) }}</td>
        </tr>
        <tr>
            {# AUTEUR #}
            <th>{{ form_label(form.author) }}</th>
            <td>{{ form_widget(form.author) }}</td>
        </tr>
         <tr>
            {# CATEGORIES #} 
            <th>{{ form_label(form.categories) }}</th>
            <td>{{ form_widget(form.categories) }}</td>
        </tr>
    </tbody>
</table>

<div class="button-container">
<button class="ui-btn space-below">
    <span>{{ button_label|default('Save') }}</span>
</button>
</div>

{{ form_end(form) }}
